# Database
DB_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/pingpong

# API
PORT=3000
CORS_ORIGIN=http://localhost:5173

# Web
VITE_API_URL=http://localhost:3000

# Test
TEST_DB_PORT=5433
TEST_DATABASE_URL=postgresql://postgres:postgres@localhost:5433/pingpong_test
TEST_HOST=http://localhost
TEST_API_PORT=3001
TEST_WEB_PORT=5174
